*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.content{
  height: 100vh;
}

.register-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;

} 

.filters{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
  box-shadow: 0 0 3px grey;
}


/* ant ICONS */
.anticon svg{
  font-size: 20px;
  cursor: pointer;
}

.active-con {
  color: black;
}

.inactive-icon {
  color : gray;
}


.switch-icons{
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px 15px;
}